@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Poppins&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}
body {
  position: relative;
}
header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 40px;
 
}
header a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}
header a:hover{
  text-decoration: underline;
  transition: 0.5s;

}
.heading {
  display: flex;
  align-items: center;
}
.heading img {
  width: 130px;
  height: 130px;
}

header ul li {
  list-style: none;
  display: inline;
  margin: 10px;
}
header button {
  background-color: crimson;
  padding: 14px 30px;
  font-size: 30px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  outline: none;
  margin-right: 22px;
}
header button:hover{
  cursor: pointer;
}
/* ------------------------navbar complete------------------- */
.main-screen {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .main-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .subheading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  /* -------------------------MAINSCREEN COMPLETE----------------- */
  #margin {
    margin-top: 68vh;
  }
  /* -------------------------- */
  footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 100%;
  }
  footer img{
    width: 300px;
    height: 295px;
  }
  footer ul {
    margin: 15px;
  }
  footer ul li{
    margin: 19px;
    list-style-type: none;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  /* ------------FOOTER ENDS----------- */
  .signup{
    display:none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(30px);
  }
  .signup input{
    margin: 20px;
    height: 50px;
    padding: 35px;
    width: 400px;
    font-size: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 40px;
  
  }
  .signup input[type="submit"]{
    width: 300px;
    border: none;
    text-align: center;
    padding: 14px 40px;
    background-color: crimson;
    height: 60px;
  }
  /* --------------------------- */
  .grey{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 500px;
    background-color: rgb(241, 241, 241);
  }
  .items{
    width: 400px;
    height: 400px;
    background-color:white;
    text-align: center;
    font-size: 20px;
  }
  .icon{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon img{
    width: 100px;
    height: 100px;
  }
  /* ----------SOOPRT ENDS------------ */
  .slider{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    align-items: center;
    margin: 40px;
  }
  .slides{
    width: 400px;
    
    background-color: rgb(164, 53, 75);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }
  .slides:hover{
    cursor: pointer;
  }
  
  .slideImage{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
 
  .slideImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slideImage img:hover{
    transform: scale(1.2);
    transition: 0.8s;
  }
  .slideText{
    margin: 20px;
    text-align: center;
  }
  .slideText h3{
    font-size: 28px;
  }